body {
  margin: 0;
  font-family: 'Helvetica Now Text';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}

button {
  font-family: 'Helvetica Now Text';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
